@font-face {
    font-family: 'Heading';
    src: url('heading.ttf');
}

@font-face {
    font-family: 'Searn';
    src: url('searn.ttf');
}


@font-face {
    font-family: 'Content';
    src: url('content.ttf');
}

.container {
    position: relative;
}
 
#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    pointer-events: none;
}